/* header section */
.header-section{
    display: flex;
    justify-content: space-between;
}
.img-title{
    display: flex;
}
.header-img{
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
    margin-left: 40px;
    margin-top: 9px;
}
.header-title{
    color: #131318;
    font-family: Mulish;
    font-size: 25px;
    font-style: normal;
    /* font-weight: 800; */
    line-height: normal;
    margin-left: 10px;
}
.text-primary{
    color: #ff5400;
}
.header-menu{
    display: flex;
    display: inline-flex;
    justify-content: center;
    list-style: none;
    margin-right: 35px;
    padding: 10px 0px;
    gap: 40px;
    font-size: 18px;
}

/* .banner section */
.banner-section{
    margin-top: 40px;
    background-image: url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 700px;
    margin-left: 77px;
    
}

    

.banner-title{
    color: #ffffff;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* justify-content: center; */
    margin-left: 370px;
    margin-top: 90px;
}
.banner-description{
    width: 676px;
    color: #ffffff;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 270px;
    margin-top: 200px;
}
.banner-btn{
    display: inline-flex;
    gap: 24px;
    border-radius: 15px;
    height: 40px;
    margin-left: 220px;
    margin-top: 50px;
    
}

.btn-primary{
    background-color: #ff5400;
    color: aliceblue;
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
    height: 40px;
   
}
.btn-select{
    background-color: rgb(255, 255, 255);
    color: rgb(99, 100, 83);
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
}
.btn-when{
    background-color: rgb(255, 255, 255);
    color: rgb(99, 100, 83);
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
}
.btn-where{
    background-color: rgb(255, 255, 255);
    color: rgb(99, 100, 83);
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
}

/* popular section */

.popular-section{
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
}
.popular-header{
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 40px;
}
.popular-title{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 50px;
}
.popular-list{
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 50px;
}
.popular-description{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 50px;
}
.btn-primary-2{
    background-color: #ff5400;
    color: aliceblue;
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
    height: 40px;
    margin-left: 50px;
}
.popular-img{
    margin-right: 59px;
}

/* destination section*/

.destination-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
}
.destination-description{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 338px;
}