/* header section */
.header-section{
    display: flex;
    justify-content: space-between;
}
.img-title{
    display: flex;
}
.header-img{
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
    margin-left: 40px;
    margin-top: 9px;
}
.header-title{
    color: #131318;
    font-family: Mulish;
    font-size: 25px;
    font-style: normal;
    /* font-weight: 800; */
    line-height: normal;
    margin-left: 10px;
}
.text-primary{
    color: #ff5400;
}
.header-menu{
    display: flex;
    display: inline-flex;
    justify-content: center;
    list-style: none;
    margin-right: 35px;
    padding: 10px 0px;
    gap: 40px;
    font-size: 18px;
}

/* .banner section */
.banner-section{
    margin-top: 40px;
    background-image: url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 700px;
    margin-left: 77px;
    
}

    

.banner-title{
    color: #ffffff;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* justify-content: center; */
    margin-left: 370px;
    margin-top: 90px;
}
.banner-description{
    width: 676px;
    color: #ffffff;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 270px;
    margin-top: 200px;
}
.banner-btn{
    display: inline-flex;
    gap: 24px;
    border-radius: 15px;
    height: 40px;
    margin-left: 220px;
    margin-top: 50px;
    
}

.btn-primary{
    background-color: #ff5400;
    color: aliceblue;
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
    height: 40px;
   
}
.btn-select{
    background-color: rgb(255, 255, 255);
    color: rgb(99, 100, 83);
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
}
.btn-when{
    background-color: rgb(255, 255, 255);
    color: rgb(99, 100, 83);
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
}
.btn-where{
    background-color: rgb(255, 255, 255);
    color: rgb(99, 100, 83);
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
}

/* popular section */

.popular-section{
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
}
.popular-header{
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 40px;
}
.popular-title{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 50px;
}
.popular-list{
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 50px;
}
.popular-description{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 50px;
}
.btn-primary-2{
    background-color: #ff5400;
    color: aliceblue;
    border-radius: 8px;
    width: 174px;
    font-size: 16px;
    height: 40px;
    margin-left: 50px;
}
.popular-img{
    margin-right: 59px;
}

/* destination section*/

.destination-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
}
.destination-description{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 338px;
}

/* maldives-indonesia */

.maldives-indonesia{
    display: flex;
    /* align-content: center; */
    gap: 30px;
    margin-left: 100px;

}
.maldives{
    color: #ffffff;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-image: url('./Images/Rectangle\ 5.png');
    width: 573px;
    height: 300px;
    flex-shrink: 0;
    /* margin-top: 100px; */
}
.indonesia{
    color: #ffffff;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-image: url('./Images/Rectangle\ 8.png');
    width: 573px;
    height: 300px;
    flex-shrink: 0;
}

/* srilanka-northamerica-kashmir */

.srilanka-northamerica-kashmir{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    /* margin-top: 0px; */

}

.srilanka{
    color: #ffffff;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-image: url('./Images/Rectangle\ 6.png');
    width: 374px;
    height: 286px;
    flex-shrink: 0;

}
.northamerica{
    color: #ffffff;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-image: url('./Images/Rectangle\ 7.png');
    width: 474px;
    height: 286px;
    flex-shrink: 0;

}
.kashmir{
    color: #ffffff;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-image: url('./Images/Rectangle\ 9.png');
    width: 274px;
    height: 286px;
    flex-shrink: 0;
}

/* bangladesh-bandarban */

.bangladesh-bandarban{
    display: flex;
    gap: 20px;
    margin-left: 100px;

}
.bangladesh{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-image: url('./Images/Rectangle\ 11.png');
    width: 473px;
    height: 300px;
    flex-shrink: 0;
}
.bandarban{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-image: url('./Images/Rectangle\ 10.png');
    width: 673px;
    height: 300px;
    flex-shrink: 0;

}

/* choose section */

.choose-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.choose-description{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 330px;
}

/* service-section */

.service-section{
    display: flex;
    gap: 30px;
    margin-left: 70px;
}

/* section 1 */

.title-1-description-1{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(241, 174, 98, 0.26);
}
.service-title-1{
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 50px;

}
.service-description-1{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 50px;

}

/* section 2 */

.title-2-description-2{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(51, 205, 243, 0.26);

}
.service-title-2{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 50px;

}
.service-description-2{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 50px;
}

/* section 3 */

.title-3-description-3{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.199);
    margin-top: 30px;
    margin-left: 370px;

}
.service-title-3{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 50px;

}
.service-description-3{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 50px;
}

/* simple-section */

.simple-section{
    display: flex;
    margin-top: 60px;
    gap: 50px;
    margin-left: 50px;
}
.simple-header{
    width: 448px;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* 150% */
}
.simple-title{
    width: 532px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.simple-list{
    width: 518px;
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
}

/* form-section */

.form-section{
    display: flex;
    gap: 80px;
    margin-left: 80px;
    margin-top: 50px;
}
.form-text{
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.form-header{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 35px;
}
.form-title{
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 35px;
}

.form-img{
    width: 672px;
    height: 422px;
    flex-shrink: 0;
}
.your-name, .your-email{
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 15px;
    margin-left: 35px;
}
.btn-primary-3{
    background-color: #ff5400;
    color: aliceblue;
    font-family: Mulish;
    font-style: normal;
    font-weight: 400;
    border-radius: 8px;
    /* width: 174px; */
    font-size: 16px;
    width: 399px;
    height: 52px;
    margin-top: 15px;
    margin-left: 35px;
}

/* footer section */

.footer-icon{
    display: flex;
    margin-top: 60px;
    align-items: baseline;
    /* justify-content: center; */
    gap: 10px;
    margin-left: 460px;
}
.footer-image{
    width: 40px;
    height: 46.673px;
    flex-shrink: 0;
   
}
.footer-header{
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer-title{
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 300px;
    
}

/* social icon section */

.footer{
    width: 1440px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(130, 130, 146, 0.548);
}
.social-icon{
    justify-content: center;
    margin-left: 570px;
   

}
.twitter{
    width: 40px;
    height: 30px;
    flex-shrink: 0;
}
.fb{
    width: 50px;
    height: 40px;
    flex-shrink: 0;
}
.insta{
    width: 50px;
    height: 40px;
    flex-shrink: 0;
}
.footer-finish{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 570px;
    margin-top: 30px;
}